USE [master]
GO
/****** Object:  Database [ReservationDB]    Script Date: 18.05.2025 22:12:42 ******/
CREATE DATABASE [ReservationDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ReservationDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ReservationDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ReservationDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ReservationDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ReservationDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ReservationDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 18.05.2025 22:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BlockedHolidayAttempts]    Script Date: 18.05.2025 22:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BlockedHolidayAttempts](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[InstructorId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[RequestedDate] [datetime2](7) NOT NULL,
	[RequestedTimeSlot] [nvarchar](50) NOT NULL,
	[HolidayName] [nvarchar](200) NOT NULL,
	[AttemptTimestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_BlockedHolidayAttempts] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Classes]    Script Date: 18.05.2025 22:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Classes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[InstructorId] [int] NULL,
 CONSTRAINT [PK_Classes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLogs]    Script Date: 18.05.2025 22:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[UserIdentifier] [nvarchar](max) NULL,
	[ErrorMessage] [nvarchar](max) NOT NULL,
	[StackTrace] [nvarchar](max) NULL,
	[RequestMethod] [nvarchar](max) NULL,
	[RequestPath] [nvarchar](max) NULL,
 CONSTRAINT [PK_ErrorLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Feedbacks]    Script Date: 18.05.2025 22:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedbacks](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ReservationId] [int] NULL,
	[UserId] [int] NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](1000) NULL,
	[SpecificDate] [datetime2](7) NOT NULL,
	[ClassId] [int] NOT NULL,
	[AssociatedInstructorId] [int] NULL,
	[FeedbackDate] [datetime2](7) NOT NULL,
	[SpecificTimeSlot] [nvarchar](50) NOT NULL,
	[SubmitterEmail] [nvarchar](100) NOT NULL,
	[SubmitterFullName] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Feedbacks] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 18.05.2025 22:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[InstructorId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[Date] [datetime2](7) NOT NULL,
	[TimeSlot] [nvarchar](50) NOT NULL,
	[TermId] [int] NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[ModificationRequestDetails] [nvarchar](1000) NULL,
	[PreviousStatus] [nvarchar](50) NULL,
	[RequestedNewClassId] [int] NULL,
	[RequestedNewDate] [datetime2](7) NULL,
	[RequestedNewTimeSlot] [nvarchar](50) NULL,
 CONSTRAINT [PK_Reservations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemLogs]    Script Date: 18.05.2025 22:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
	[UserIdentifier] [nvarchar](max) NULL,
	[Action] [nvarchar](255) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
	[Details] [nvarchar](max) NULL,
 CONSTRAINT [PK_SystemLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Terms]    Script Date: 18.05.2025 22:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Terms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[StartDate] [datetime2](7) NOT NULL,
	[EndDate] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Terms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 18.05.2025 22:12:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](max) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[PasswordHash] [nvarchar](max) NOT NULL,
	[Role] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250514161235_InitialDatabaseSetupWithSeed', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250515081229_AddIsActiveToTermsTable', N'9.0.4')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250515171450_UpdateFeedbackTableSchema', N'9.0.4')
GO
SET IDENTITY_INSERT [dbo].[BlockedHolidayAttempts] ON 

INSERT [dbo].[BlockedHolidayAttempts] ([Id], [InstructorId], [ClassId], [RequestedDate], [RequestedTimeSlot], [HolidayName], [AttemptTimestamp]) VALUES (1, 16, 3, CAST(N'2025-05-01T00:00:00.0000000' AS DateTime2), N'10:00–11:00', N'Emek ve Dayanışma Günü', CAST(N'2025-05-16T13:06:09.4649379' AS DateTime2))
INSERT [dbo].[BlockedHolidayAttempts] ([Id], [InstructorId], [ClassId], [RequestedDate], [RequestedTimeSlot], [HolidayName], [AttemptTimestamp]) VALUES (2, 16, 1, CAST(N'2025-05-19T00:00:00.0000000' AS DateTime2), N'17:00–18:00', N'Atatürk’ü Anma, Gençlik ve Spor Bayramı', CAST(N'2025-05-16T13:11:06.2391418' AS DateTime2))
INSERT [dbo].[BlockedHolidayAttempts] ([Id], [InstructorId], [ClassId], [RequestedDate], [RequestedTimeSlot], [HolidayName], [AttemptTimestamp]) VALUES (3, 16, 2, CAST(N'2025-04-23T00:00:00.0000000' AS DateTime2), N'12:00–13:00', N'Ulusal Egemenlik ve Çocuk Bayramı', CAST(N'2025-05-16T13:56:26.0040575' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BlockedHolidayAttempts] OFF
GO
SET IDENTITY_INSERT [dbo].[Classes] ON 

INSERT [dbo].[Classes] ([Id], [Name], [Description], [InstructorId]) VALUES (1, N'CENG101', N'Intro to Computer Engineering', NULL)
INSERT [dbo].[Classes] ([Id], [Name], [Description], [InstructorId]) VALUES (2, N'CENG102', N'Programming Fundamentals', NULL)
INSERT [dbo].[Classes] ([Id], [Name], [Description], [InstructorId]) VALUES (3, N'CENG201', N'Data Structures', NULL)
SET IDENTITY_INSERT [dbo].[Classes] OFF
GO
SET IDENTITY_INSERT [dbo].[ErrorLogs] ON 

SET IDENTITY_INSERT [dbo].[ErrorLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Feedbacks] ON 

INSERT [dbo].[Feedbacks] ([Id], [ReservationId], [UserId], [Rating], [Comment], [SpecificDate], [ClassId], [AssociatedInstructorId], [FeedbackDate], [SpecificTimeSlot], [SubmitterEmail], [SubmitterFullName]) VALUES (8, NULL, NULL, 4, N'Sınıfı sevdim', CAST(N'2025-04-10T00:00:00.0000000' AS DateTime2), 2, NULL, CAST(N'2025-05-16T11:12:17.8250159' AS DateTime2), N'10:00-11:00', N'deneme@gmail.com', N'deneme')
INSERT [dbo].[Feedbacks] ([Id], [ReservationId], [UserId], [Rating], [Comment], [SpecificDate], [ClassId], [AssociatedInstructorId], [FeedbackDate], [SpecificTimeSlot], [SubmitterEmail], [SubmitterFullName]) VALUES (9, NULL, NULL, 5, N'deneme feedbackı', CAST(N'2025-05-09T00:00:00.0000000' AS DateTime2), 1, NULL, CAST(N'2025-05-16T16:58:14.0331543' AS DateTime2), N'10:00-11:00', N'mert@gmail.com', N'mert')
INSERT [dbo].[Feedbacks] ([Id], [ReservationId], [UserId], [Rating], [Comment], [SpecificDate], [ClassId], [AssociatedInstructorId], [FeedbackDate], [SpecificTimeSlot], [SubmitterEmail], [SubmitterFullName]) VALUES (10, NULL, NULL, 3, N'deneem2', CAST(N'2025-03-07T00:00:00.0000000' AS DateTime2), 1, NULL, CAST(N'2025-05-16T16:59:05.4000381' AS DateTime2), N'10:00-11:00', N'arda@gmail.com', N'arda')
SET IDENTITY_INSERT [dbo].[Feedbacks] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([Id], [UserId], [InstructorId], [ClassId], [Date], [TimeSlot], [TermId], [Status], [ModificationRequestDetails], [PreviousStatus], [RequestedNewClassId], [RequestedNewDate], [RequestedNewTimeSlot]) VALUES (89, 16, 16, 2, CAST(N'2025-05-16T00:00:00.0000000' AS DateTime2), N'10:00–11:00', 1, N'Rejected', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Reservations] ([Id], [UserId], [InstructorId], [ClassId], [Date], [TimeSlot], [TermId], [Status], [ModificationRequestDetails], [PreviousStatus], [RequestedNewClassId], [RequestedNewDate], [RequestedNewTimeSlot]) VALUES (90, 16, 16, 2, CAST(N'2025-05-07T00:00:00.0000000' AS DateTime2), N'12:00–13:00', 1, N'Approved', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Reservations] ([Id], [UserId], [InstructorId], [ClassId], [Date], [TimeSlot], [TermId], [Status], [ModificationRequestDetails], [PreviousStatus], [RequestedNewClassId], [RequestedNewDate], [RequestedNewTimeSlot]) VALUES (91, 16, 16, 1, CAST(N'2025-04-24T00:00:00.0000000' AS DateTime2), N'11:00–12:00', 1, N'Cancelled', NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemLogs] ON 

INSERT [dbo].[SystemLogs] ([Id], [Timestamp], [UserIdentifier], [Action], [Status], [Details]) VALUES (1, CAST(N'2025-05-16T15:06:58.9036945' AS DateTime2), N'cengstmp@gmail.com', N'Login Attempt', N'Processing', N'Attempting login for email: cengstmp@gmail.com')
INSERT [dbo].[SystemLogs] ([Id], [Timestamp], [UserIdentifier], [Action], [Status], [Details]) VALUES (2, CAST(N'2025-05-16T15:06:59.2176158' AS DateTime2), N'cengstmp@gmail.com', N'User Login', N'Success', N'User ''cengstmp@gmail.com'' logged in. Role: instructor.')
INSERT [dbo].[SystemLogs] ([Id], [Timestamp], [UserIdentifier], [Action], [Status], [Details]) VALUES (3, CAST(N'2025-05-16T15:07:08.0901728' AS DateTime2), N'16', N'Login Attempt', N'Processing', N'Attempting login for email: cengstmp@gmail.com')
GO
SET IDENTITY_INSERT [dbo].[SystemLogs] OFF
GO
SET IDENTITY_INSERT [dbo].[Terms] ON 

INSERT [dbo].[Terms] ([Id], [Name], [StartDate], [EndDate], [IsActive]) VALUES (1, N'academic', CAST(N'2025-01-01T00:00:00.0000000' AS DateTime2), CAST(N'2025-07-03T00:00:00.0000000' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Terms] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role]) VALUES (1, N'Admin User', N'cengweb382@gmail.com', N'AQAAAAIAAYagAAAAEEYZKV51W6JH9ZSoQ98mP5N+8H6Wv+5qqJ8VAk7r8cjDUh4lh63z23LEhkTkiSbh6g==', N'admin')
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role]) VALUES (8, N'ınsturctor', N'deneme@test.com', N'AQAAAAIAAYagAAAAEEYZKV51W6JH9ZSoQ98mP5N+8H6Wv+5qqJ8VAk7r8cjDUh4lh63z23LEhkTkiSbh6g==', N'instructor')
INSERT [dbo].[Users] ([Id], [FullName], [Email], [PasswordHash], [Role]) VALUES (16, N'Test Instructor', N'cengstmp@gmail.com', N'AQAAAAIAAYagAAAAEEYZKV51W6JH9ZSoQ98mP5N+8H6Wv+5qqJ8VAk7r8cjDUh4lh63z23LEhkTkiSbh6g==', N'instructor')
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_BlockedHolidayAttempts_ClassId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_BlockedHolidayAttempts_ClassId] ON [dbo].[BlockedHolidayAttempts]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_BlockedHolidayAttempts_InstructorId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_BlockedHolidayAttempts_InstructorId] ON [dbo].[BlockedHolidayAttempts]
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Classes_InstructorId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_Classes_InstructorId] ON [dbo].[Classes]
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_AssociatedInstructorId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_AssociatedInstructorId] ON [dbo].[Feedbacks]
(
	[AssociatedInstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_ClassId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_ClassId] ON [dbo].[Feedbacks]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_ReservationId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_ReservationId] ON [dbo].[Feedbacks]
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Feedbacks_UserId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_Feedbacks_UserId] ON [dbo].[Feedbacks]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_ClassId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_ClassId] ON [dbo].[Reservations]
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_InstructorId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_InstructorId] ON [dbo].[Reservations]
(
	[InstructorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_TermId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_TermId] ON [dbo].[Reservations]
(
	[TermId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_UserId]    Script Date: 18.05.2025 22:12:42 ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_UserId] ON [dbo].[Reservations]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT ((0)) FOR [ClassId]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT ('0001-01-01T00:00:00.0000000') FOR [FeedbackDate]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (N'') FOR [SpecificTimeSlot]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (N'') FOR [SubmitterEmail]
GO
ALTER TABLE [dbo].[Feedbacks] ADD  DEFAULT (N'') FOR [SubmitterFullName]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT ((0)) FOR [TermId]
GO
ALTER TABLE [dbo].[Terms] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[BlockedHolidayAttempts]  WITH CHECK ADD  CONSTRAINT [FK_BlockedHolidayAttempts_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlockedHolidayAttempts] CHECK CONSTRAINT [FK_BlockedHolidayAttempts_Classes_ClassId]
GO
ALTER TABLE [dbo].[BlockedHolidayAttempts]  WITH CHECK ADD  CONSTRAINT [FK_BlockedHolidayAttempts_Users_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Users] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[BlockedHolidayAttempts] CHECK CONSTRAINT [FK_BlockedHolidayAttempts_Users_InstructorId]
GO
ALTER TABLE [dbo].[Classes]  WITH CHECK ADD  CONSTRAINT [FK_Classes_Users_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Classes] CHECK CONSTRAINT [FK_Classes_Users_InstructorId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Classes_ClassId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Reservations_ReservationId] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Reservations_ReservationId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Users_AssociatedInstructorId] FOREIGN KEY([AssociatedInstructorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Users_AssociatedInstructorId]
GO
ALTER TABLE [dbo].[Feedbacks]  WITH CHECK ADD  CONSTRAINT [FK_Feedbacks_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Feedbacks] CHECK CONSTRAINT [FK_Feedbacks_Users_UserId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Classes_ClassId] FOREIGN KEY([ClassId])
REFERENCES [dbo].[Classes] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Classes_ClassId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Terms_TermId] FOREIGN KEY([TermId])
REFERENCES [dbo].[Terms] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Terms_TermId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Users_InstructorId] FOREIGN KEY([InstructorId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Users_InstructorId]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Users_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Users_UserId]
GO
USE [master]
GO
